<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400998067848-afpl9ai9f9q5t01i128rlv78jnccplnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400998067848-afpl9ai9f9q5t01i128rlv78jnccplnl</string>
	<key>API_KEY</key>
	<string>AIzaSyA4gyfjFHJOtv_2xjSXdblDA-B1kQg5O-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>400998067848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballStats.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>football-stats-648f7</string>
	<key>STORAGE_BUCKET</key>
	<string>football-stats-648f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400998067848:ios:c41e6cfa3416ee577f393d</string>
</dict>
</plist>